<div id="FAQ" class="container">

    <h3>“MENTEEING” (JOB SHADOWING) FAQ’s</h3>

<p>Part of your “menteeing” experience involves the opportunity to “job shadow” people who are employed in work areas of 
    interest to you. Your mentors and you will make the necessary arrangements for you to meet with someone who has agreed 
    to let you follow him/her as he/she performs work tasks. It is important that you be prepared for this experience so that 
    you can maximize the opportunity to see someone do the kind of work you think that you’re interested in or curious about.</p>

<p>Read over the materials below with your mentor so that you know how to prepare yourself for the experience.</p>

<h5>Business Manners and Dress</h5>

<p>When you are job shadowing you are in an environment very different from the school environment in which you normally live. 
You will need to talk to your mentor about what to expect in the work environment of each of your job shadowing experiences before you 
report for your job shadow. Some questions to ask:</p>

<p>
•	Is the workplace I will visit an office, corporation, small business, or public agency?  Is it a warehouse, artist’s studio, 
computer graphic station? How do people dress there? How should I dress?
•	People in the work world shake hands when they meet and are introduced.  Practice your handshake with your mentor so that you 
know you are businesslike in your handshake.
•	Practice saying the name of someone to whom you are introduced. Practice saying your own name slowly and clearly.
•	When you enter someone’s office or work area, do not sit down before you are invited to do so. Do not put anything on someone’s 
desk unless you are invited to do so. Don’t pick up anything that does not belong to you. Do not interrupt conversations nor ask 
questions when work conversations are occurring. If you do have questions, wait until the person you are shadowing is free to answer 
your queries.</p>

<h5>Job Shadowing Reflections</h5>

<p>
•	You will be doing some writing when you are job shadowing. Bring a pen and pencil, and a notebook with a cover hard enough so that you 
can use it as a makeshift table if nothing else is available.
•	It is important to talk about the job your host is performing. Prepare some questions ahead of time to guide your conversation. 
Do ask for your host’s business card before leaving so that you can follow-up with a written thank-you for their time.</p>

<h5>Post Visitation Reflection</h5>

<p>Think about what you know of your own skills, talents, abilities and motivation. Taking your unique qualifications into consideration, 
would you want a job or career in this field? Why or why not?</p>

<h3>7 REASONS YOU SHOULD BE A MENTOR</h3>
<p>(ala the Huffington Post)</p>

<p>1) You have the potential to change a young person’s life. Now, don’t be intimidated by the weight of that. Like I said, anyone can be a 
mentor — and you don’t have to be as wise or pithy as the Buddha to change a life. In my case, I was matched with a life-changing mentor 
through Big Brothers Big Sisters when I was seven years-old. My “Big Brother” Adam Schiff (now Congressman Adam Schiff) was at the time a 
young lawyer working for the U.S. State Attorney’s office. I had no idea what a U.S. State Attorney actually did, but I knew it sounded 
impressive. As was the fact that he’d graduated from Stanford and Harvard Law. Growing up with a single-mom in South Los Angeles, I didn’t 
know many people like Adam, and having him in my life, seeing his example, gave me a new sense of life’s possibilities and my own potential.</p>

<p>2) It will get you to stop thinking about yourself all the time. Let’s face it: so much of people’s mental energies is spent on ourselves — 
our hopes, our fears, our anxieties, ournext Big Plan, our goals for the future. Having a mentee — who indeed has his or her own hopes and 
fears and plans — forces us to occasionally stop thinking about ourselves and transcend our egotism, not just a few times a year but on a 
consistent basis. By focusing our energies on helping someone else, we provide a valuable service both to our mentee and to ourselves. 
(Indeed, thinking about ourselves all the time can get pretty exhausting.) And in the process, perhaps our mentees can help us see that our 
fears aren’t as insurmountable — or our plans as all-important — as we think they are.</p>

<p>3) It will help you stay hip and keep up with the times. There’s nothing like having a young person in your life to keep you from turning 
into an old fogey. (And as I’ve learned from being a Big Brother myself the last four years, you don’t have to be that old to turn into one.)
4) You are helping build a better, more stable society. This isn’t just fluff. One-to-one mentoring actually helps create happier, more 
stable adults, which helps society at large. For instance, according to a well-regarded study performed by Public/Private Ventures to measure 
he impact of the Big Brothers Big Sisters program, kids with Bigs were:
<p>•	46 percent less likely to begin using illegal drugs than kids not in the program</p>
<p>•	27 percent less likely to begin using alcohol than kids not in the program</p>
<p>•	52 percent less likely to skip school than kids not in the program</p>
<p>•	37 percent less likely to skip a class than kids not in the program</p>
<p>So apart from that warm, fuzzy-feeling it gives you inside, being a mentor also has a measurable positive impact.</p>

<p>5) Jamie Foxx would give you a thumbs up! Actor/entertainer Jamie Foxx is a huge advocate of mentoring — and in fact, he recently signed on 
to become the national spokesman for Big Brothers Big Sisters. Now, I don’t know about you, but I’d certainly want the guy who starred in 
Django Unchained on my good side. And if you become a mentor, who knows — he might even follow you on Twitter.</p>

<p>6) You may end up with more than just a mentee — but a new member of your family. Since we were paired up all those many years ago, 
Adam and I have gone through a lot together. Celebrations, adventures, difficult times, special moments we’ll never forget. I was honored to 
be in his wedding to his lovely wife Eve (yes, that’s really her name!), and I stood right by his side when he was sworn into Congress back 
in 2000. Meanwhile, Adam was there in the bleachers at my graduations from Yale University and USC film school. And he stood right by my side 
when I lost one of my best friends in a tragic plane crash. Through the good times and bad, he’s been there for me, and we’ve been there for 
each other. In short, Adam isn’t just a mentor — he’s family, and I couldn’t possibly think of him any other way.</p>

<p>7) The life you end up changing could be your own. Sure, it’s a bit of a cliché. But it doesn’t make it any less true. Your decision to 
become a mentor will lead to a series of events and opportunities you can’t possibly forsee, to experiences and challenges and rewards you 
can’t anticipate—but all of them will force you to learn and evolve and, perhaps even despite yourself, become a better human being. Yes, 
the world needs more mentors, more shining beacons who will help our young people navigate the perilous challenges of our ever-changing 
world. But it’s just as important to remember that young people can also serve as beacons for us—by helping us navigate the perilous 
challenges in our own lives (though they typically do this in the most innocent ways, often without trying to), and by reminding us about 
what really matters.</p>

<p>Ultimately, mentoring isn’t a one-way process. It’s a two-way street. It has the potential to change — indeed, to radically transform — 
not just one life, but two. It’s fun, it’s an adventure, you’ll learn a lot about yourself, you’ll have stories to last a lifetime. 
You may end up with a new member of your family. Jamie Foxx will dig it. And its ripple effects have the potential to change the world. 
Perhaps even to save it.
</p>
</div>