<div class="container"
  <div class="jumbotron">
                <h1 id="welcome" class="display-4">Welcome To Mentor Finder!</h1>
                <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
                <hr class="my-4">
                <h2>Click a button below to get started:</h2>
                <br>
                <br>
                    <div class="row">
                    <br>
                    <br>
                    <div class="col-md-4" id="mentorSubmit">
                <a class="btn btn-primary btn-lg" href="/mentor" role="button">I'm a Mentor</a>
                    </div>
                <div class="col-md-4" id="menteeSubmit">
                <a class="btn btn-primary btn-lg" href="/mentee" role="button">I'm a Mentee</a>
                </div>
    </div>
 </div>

              
              
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/landing.js"></script>             