<div class="jumbotron">
        <h1 id="welcome" class="display-4" >Mentor Match</h1>
        <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
        <hr class="my-4">
        <h3 id="h3">Click a button below to get started</h3>
        <div class="container">
            <div class="row">
                <div id="one" class="col-6">
                    <a id="btn1" class="btn btn-primary btn-lg" href="/mentor" role="button">I'm a Mentor</a>
                </div>
                <div id="two" class="col-6">
                    <a id="btn2" class="btn btn-primary btn-lg" href="/mentee" role="button">I'm a Mentee</a>
                </div>
            </div>
        </div> 
    </div>

    <div class="container">
        <div class="row">
            <div id="abt" class="col-12">
                <h4>About Us:</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div id="about" class="col-12">
                <p>As a society, we succeed together or fail together. In this age of increased insularity, we aim to bring people together for the communal good. 
                    Through the transfer of knowledge not only between generations, but between different levels of mastery in an industry, we progress as a whole. 
                    At Mentor Match we offer an arena to do exactly this. By allowing those with interest in a specific field to find a mentor, our hope is to foster
                     mutually beneficial relationships and to promote community within industry. Be it a student that is interested in the day-to-day of an Architect, 
                     or an up-and-comer in a field that is searching for advice, Mentor Match aims to find the Mentor that you need, when you need it. </p>
            </div>
        </div>
    </div>

              
              
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        

