<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1></h1>
                <form class="clearfix mb-4" action="POST"></form>
                <h2>Please complete the following (brief) questionnaire:</h2>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email Address</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="form-group">
                    <label for="occupations">Please choose your occupation/industry</label>
                    <select multiple class="form-control" id="occupations">
                        <option>ArchitectureandEngineering</option>
                        <option>Arts,Design,Entertainment,Sports,andMedia</option>
                        <option>BuildingandGroundsCleaningandMaintenance</option>
                        <option>BusinessandFinancialOperations</option>
                        <option>CommunityandSocialService</option>
                        <option>ComputerandMathematical</option>
                        <option>ConstructionandExtraction</option>
                        <option>Education,Training,andLibrary</option>
                        <option>Farming,Fishing,andForestry</option>
                        <option>FoodPreparationandServingRelated</option>
                        <option>HealthcarePractitionersandTechnical</option>
                        <option>HealthcareSupport</option>
                        <option>Installation,Maintenance,andRepair</option>
                        <option>Legal</option>
                        <option>Life,Physical,andSocialScience</option>
                        <option>Management</option>
                        <option>OfficeandAdministrativeSupport</option>
                        <option>PersonalCareandService</option>
                        <option>Production</option>
                        <option>ProtectiveService</option>
                        <option>SalesandRelated</option>
                        <option>TransportationandMaterialMoving</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Zip</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <p>Please indicate what you most hope to achieve by contacting a mentor:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        I want help deciding if the industry is right for me.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        I want help deciding which area of the industry to explore further.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        I want to expand my network.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        I want to better understand a day in the life of a person in my aspirant industry.
                    </label>
                </div>
            </div>
            </form>
        </div>>
    </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>