<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1></h1>
                <form>
                    <div class="form-group">
                        <label id="eText" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder=" ">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder=" ">
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Zip</label>
                        <input type="zipCode" class="form-control" id="zipCode" placeholder="12345">
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="profilePic">Profile Picture</label>
                            <input type="file" class="form-control-file" id="profilePic">
                        </div>
                    </form>
                    <div class="form-group">
                        <label for="occupations">Select Occupation Categories you are interested in</label>
                        <select multiple class="form-control" id="occupations">
                            <option>ArchitectureandEngineering</option>
                            <option>Arts,Design,Entertainment,Sports,andMedia</option>
                            <option>BuildingandGroundsCleaningandMaintenance</option>
                            <option>BusinessandFinancialOperations</option>
                            <option>CommunityandSocialService</option>
                            <option>ComputerandMathematical</option>
                            <option>ConstructionandExtraction</option>
                            <option>Education,Training,andLibrary</option>
                            <option>Farming,Fishing,andForestry</option>
                            <option>FoodPreparationandServingRelated</option>
                            <option>HealthcarePractitionersandTechnical</option>
                            <option>HealthcareSupport</option>
                            <option>Installation,Maintenance,andRepair</option>
                            <option>Legal</option>
                            <option>Life,Physical,andSocialScience</option>
                            <option>Management</option>
                            <option>OfficeandAdministrativeSupport</option>
                            <option>PersonalCareandService</option>
                            <option>Production</option>
                            <option>ProtectiveService</option>
                            <option>SalesandRelated</option>
                            <option>TransportationandMaterialMoving</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
                <button id="submit_button" type="button" class="btn btn-primary btn-lg">Submit</button>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>