.list-group-item {
  line-height: 2.5;
}
#welcome {
  text-align: center;
}

#btn1 {
  transition: transform .2s;
  }

#btn1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

#btn2 {
 transition: transform .2s;
  }

#btn2:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
